@page
@model RegisterModel
@{
    ViewData["Title"] = "User Registration";
}

<article>
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <h3><label for="User Email">User Name</label></h3>
        <input type="email" name="username" placeholder="" />

        <h3><label for="Password">User Password</label></h3>
        <input type="password" name="Password" placeholder="" />

        <input type="submit" value="Submit" />
    </form>
</article>
